/*  Selector global */
* {
  box-sizing: content-box;
}

.myli { 
  /* Selec class*/
  background-color: rgb(66, 98, 22);
  color: rgb(0, 0, 0);
}

header { 
  /* select elemento*/
  color: rgb(193, 193, 233); background-color: rgb(40, 110, 8)"
}

.content-content-box > div {
  background-color: green;
  width: 300px;
  height: 10px;
  margin: 30px;
  border: 10px solid black;
}

#article-1 { 
  /*select id*/
  background-color: rgba(3, 108, 73, 0.514);
}

#myp {
  color: black;
}

.myp {
  font-size: 24px;
}

.back {
  background-color: brown;
}

.color-rojo-back-azul {
  color: white;
  background-color: rgb(13, 94, 13);
}

/* Modelo de caja */

.contenedor {
  margin: 50px;
  background-color: darkgreen;
  padding: 10px;
  border: 5px solid black;
  color: green;
}

.contenido {
  background-color: white;
}

.contenedor-con-imagen {
  width: 400px;
  height: 400px;
  padding: 20px;
  background-color: aliceblue;
  background-image: url(Public/cyberpunk.gif);
  background-size: cover;
  background-position: center;
  /* para insertar una imagen dentro del background */
}

.contenido-con-imagen {
  background-color: white;
}

/* Selectores */

/* selector por elemento */

span {
  font-weight: bold;
}

/* Asigan los mismos estílos a elementos con nombres diferentes, esta regla afecta a todos los elementos <p> y <span> */

p,
span {
  color: black;
}

/* Afecta solo a los elementos <p> que se encuentran dentro de la etiqueta <main>, ya sea contenido directo o indirecto */

main p {
  background-color: bisque;
}
/* Usa el caracter > para referenciar a un elememto que es hijo directo - contenedor- parrafo */

.contenedor-parrafo > p {
  font-size: 35px;
  color: black;
  background-color: white;
}

/* este selector hace referencia a elementos que estám precedidos por otros elementos: ambos deben estar al mismo nivel */

h1 + p {
  color: rebeccapurple;
}

/* Estilos más usados */
/* Declara el tipo de letra que se usa parqa mostrar en un texto. Se pueden declarar multiples valores separados por coma para ofrecer al navegador varias alternativas en vaso de que alguna no se encuentre disponible */

.container {
  border-top: 1px solid black;
  padding: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.container > .content > p {
  background-color: bisque;
  color: black;
  font-size: 25px; /* Determina el tamaño de la fuente; puede estar incluido en pixeles (px) puntos (pt), %, rem, em */
  font-weight: 100 /* bold (100 - 1000) */;
  font-style: oblique;
}

.content > h3 {
  background-color: bisque;
  font: bold 30px Arial, sans-serif;
  /* Permite declarar varios atributos al mismo tiempo separados por espacios. 1° grosor, 2°tamaño, 3°familia de fuentes */
  text-align: center; /* Left, right, center,justify */
  line-height: 60px; /* Define el espacio entre lineas */
}

/* Colores */

.mydiv {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgb(255, 380, 100);
  background-image: url(Public/cyberpunk.gif);
}

.div-in-mydiv {
  height: 50px;
  width: 50 px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
}

.div-in-mydiv-2 {
  height: 50px;
  width: 50 px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
}

/* Tamaños */
.div-in-mydiv-3 {
  height: 50px;
  width: 50 px;
  margin: 20 px 0;
  border: 1px solid black;
  background-color: #00f0ff;/* 0 -9 y A F */
}

.tamano {
  margin: 100 px 20px;
  height: 200px;
  width: 200px;
  background-color: black;
}

.content {
  height: 400px;
  width: 200px;
}

.tamano-hijo{
  height: 25%;
  width: 25%;
  background-color: white;
}

.div-vh-vw{
  height: 100vh;
  width: 100vw;
  background-color: darkblue;
}